.fundoCadastro {
    background-image: url("https://cdn.discordapp.com/attachments/1159531504129552555/1199711257679368327/LogoSegundaChance.png?ex=65c3892d&is=65b1142d&hm=3a22df339a1fd3ce2072651cdd7ffea3997a5ae09eb903aef2908fc17a3dd467&");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }