.contato_content {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 64px 0 0 0;
    font-size: 20px;

}

.buttonContato {
    position: center;
    padding: 10px 20px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    margin: auto;
    left: 23%;
  }
  