*{
    padding: 0;
    margin: 0;
}
.container-contato{
    width: 100%;
}


.container-contato{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sub-container{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-card{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

/* Cards */
.card-profile{
    display: flex;
    width: 400px;
    height: 230px;
    background-color: aqua;
    justify-content:space-around;
    align-items:center;
}

.card-profile img {
    width: 55%;
    height: 95%;
}

.container-redes{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: left;
    margin-left: -20px;
}


