#navbarSupportedContent1 a img {
    height: 15px"
}

#dropdownMenuButton2 img {
    height: 35px; 
    width: 35px"
}

.logo-segundachance a img{
    width: 90px;
}

.container-contato{
    padding-top: 150px;
}