@font-face {
    font-family: Dreams;
    src: url(/src/assets/font/CreateDream.otf);
  }

#navbarSupportedContent1 a img {
    height: 15px";

}

#dropdownMenuButton2 img {
    height: 35px; 
    width: 35px"
}

.logo-segundachance a img{
    width: 90px;
}

.container-contato{
    padding-top: 150px;
}

.temaLogo{
    font-family: 'Creat';
    font-family: Dreams;
    font-size: xxx-large;
    z-index: 2;
    color: orangered;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logoImg{
    position: relative;
    left: 30px;
    z-index: 1;
} 