@font-face {
    font-family: Dreams;
    src: url(/src/assets/font/Create\ Dream.otf);
  }

#navbarSupportedContent1 a img {
    height: 15px"
}

#dropdownMenuButton2 img {
    height: 35px; 
    width: 35px"
}

.logo-segundachance a img{
    width: 90px;
}

.container-contato{
    padding-top: 150px;
}

.temaLogo{
    font-family: 'Creat';
    font-family: Dreams;
    font-size: xxx-large;
    z-index: 2;
}

.logoImg{
    position: relative;
    left: 13px;
    z-index: 1;
} 